$primaryBlue: hsl(246, 80%, 60%);

$primaryLightRed: hsl(15, 100%, 70%);
$primarySoftBlue: hsl(195, 74%, 62%);
$secondaryLightRed: hsl(348, 100%, 68%);
$primaryLimeGreen: hsl(145, 58%, 55%);
$primaryViolet: hsl(264, 64%, 52%);
$primarySoftOrange: hsl(43, 84%, 65%);

$neutralVeryDarkBlue: hsl(226, 43%, 10%);
$neutralDarkBlue: hsl(235, 46%, 20%);
$neutralDesaturatedBlue: hsl(235, 45%, 61%);
$neutralPaleBlue: hsl(236, 100%, 87%);

$font-primary: "Rubik", sans-serif;
